$bgColor : #1E212B;
$color : rgb(217, 215, 215);
$borderColor : #7676b3;
$bgLeft :#353551;
$bgRight: #212135;
$bgField: #0c0c21;



@mixin flexCenter {
    display: flex;
    justify-content: center;
}

@mixin justifyAlignCenter {
    @include flexCenter();
    align-items: center;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: $bgColor;
    font-family: Helvetica;
    color: $color;

    h1 {
        font-size: 1.7em;
    }

    legend {
        font-size: 1.2em;
        font-weight: 600;
    }

    a {
        text-decoration: underline;
        text-underline-offset: 2px;
        color: rgb(40, 236, 236);

    }

    .small {
        font-size: 0.9em;
    }

    h2 {
        padding: 0.2em 0 0.2em 0.5em;
        border: 3px solid $borderColor;
        border-radius: 4px;
    }
}

main {
    padding: 2em;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    filter: drop-shadow(0 0 0.5rem rgb(40, 236, 236));
    border-radius: 17px;


    #section-left {
        border-radius: 0 0 0 15px;
        width: 30%;
        background-color: $bgLeft;
        word-break: break-all;

        #content-left {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 75%;
            padding-left: 1.5em;
        }

        #photo-profil {
            img {
                width: 100%;
                height: 250px;
                object-fit: cover;
            }
        }

        .title-left {
            width: 80%;
        }

        #front {
            .img-com {
                width: 40px;
                height: 40px;
                object-fit: cover;
                border-radius: 50%;
                margin: 0.3em 0.3em 0 0;
            }
        }

        #coor {
            img {
                width: 25px;
                margin: .5em 0;
            }

            .coor-item {
                display: flex;
                align-items: center;
                gap: 0.8em;
            }
        }
    }

    #section-right {
        width: 70%;
        background-color: $bgRight;
        border-radius: 0 0 15px 0;

        #moi {
            background-color: $bgField;
            padding: 1.5em 0;
            height: 120px;
            @include justifyAlignCenter();

            fieldset {
                border: 3px snow solid;
                width: 80%;
                text-align: center;
                transform: rotate(180deg);

                legend {
                    padding: 0 .7em 0 0.7em
                }

                legend,
                h1 {
                    transform: rotate(180deg);
                }
            }
        }

        #info {
            width: 90%;
            margin: 0 auto;

            #approche {
                font-size: 1.2em;
                list-style: 1.2em;
            }

            .ex-pro {
                display: flex;

                .annee {
                    line-height: 1.3em;
                    width: 25%;
                }

                .pro {
                    width: 75%;
                }
            }
        }
    }
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: $bgLeft;
}

::-webkit-scrollbar-thumb {
    background-color: $bgColor;
    border-radius: 20px;
    border: 2px solid $bgLeft;

}

@media screen and (max-width: 775px) {
    body {
        h1 {
            font-size: 1.3em;
        }

        legend {
            font-size: 0.8em;
        }

        h2 {
            font-size: 1em;
            padding: .5em 0.5em 0.5em;
        }

        h3 {
            font-size: 0.8em;
        }
    }

    main {

        a,
        span {
            font-size: 0.82em;
        }

        #mail {
            font-size: 0.9em;
        }

        #section-left {
            #photo-profil {
                img {
                    height: 200px;
                }
            }

            #front {
                .img-com {
                    width: 30px;
                    height: 30px;
                }
            }

        }

        #section-right {
            .ex-pro {
                p {
                    font-size: 0.9em;
                }

                .small {
                    font-size: 0.7em;
                }
            }
        }


    }
}

@media screen and (max-width: 550px) {

    body {
        font-size: 0.7em;

        h2 {
            padding: .3em 0.3em 0.3em;
            border: 2px solid $borderColor;
        }
    }

    main {
        padding: 0.5em;

        #section-left {
            #photo-profil {
                img {
                    height: 175px;
                }

            }


            #content-left {
                padding-left: 0.5em;

                .coor-item {
                    img {
                        width: 15px;
                    }
                }
            }

            #front {
                .img-com {
                    width: 20px;
                    height: 20px;
                }
            }

        }
    }
}